.idea
__pycache__
stanford*
venv*
*.gdf
*.class
*.rar
*.zip
*.jar
.sigmakee
sigmakee
*.gephi
/sumointerface/SumoInterface/nbproject/private/
/sumointerface/WordGraph/nbproject/private/
/sumointerface/WordGraph/build/
/sumointerface/WordGraph/dist/
*.txt